<div class = "container text-center">
  <h1 class="whiteh">About Page</h1>
  <h4 class="aboutheader">My name is Matt. I love developing and learning about new technology.  This website was built solely
    for the purpose of fun and learning how to host my own website. Built with ruby on rails
  </h4>
  <%= image_tag("profile.jpg", width: "40%") %>
</div>
