// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-callout{
  margin-top: -20px;
  padding-top:  50px;
  padding-bottom: 100px;
}

.whiteh {
  color: white;
}

h1 {
  color: darkblue;
}

.aboutheader {
  padding-bottom: 50px;
}